{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center>
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    <img src="{% static 'img/login.png' %}" alt="logimage" style="height:220px; width:100% ">
    </center>
{% endblock %}
